<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

    <context:property-placeholder location="classpath:application.properties"/>

    <bean id = "vehicle"
          class="spring_introduction.Plane">
    </bean>

    <bean id = "company"
          init-method="init"
          destroy-method="destroy"
          class="spring_introduction.Company">
        <property name="vehicle" ref="vehicle"/>
        <property name="cost" value="${company.cost}"/>
        <property name="name" value="${company.name}"/>
    </bean>


</beans>